.intro {
    margin: 92px 0 0 148px;
    width: calc(100% - 2 * 148px);
    display: inline-flex;
    flex-direction: column;
}

@media screen and (max-width: 1140px) and (min-width: 1024px) {
    .intro {
      margin: 92px 0 0 48px;
      max-width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 1023px) and (min-width: 984px){
    .intro {
        margin: 88px 0 0 24px;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 983px) {
    .intro {
        margin: 64px 0 0 12px;
        width: calc(100% - 2 * 16px);
    }
}