.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: calc(1184px + 96px);
    min-height: 740px;
    margin: 92px 48px;
}


@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover {
        margin: 92px 0 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover {
        margin: 90px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 66px 0 0;
    }
}