.lead__title {
font-family: 'Inter', Helvetica Neue, Arial, sans-serif;
font-weight: 900;
font-size: 96px;
line-height: 1.04;
text-align: center;
color: #FFFFFF;
width: 720px;
min-height: 200px;
padding: 0;
margin: 136px 0 0;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .lead__title {
    margin: 128px 0 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .lead__title {
        margin: 128px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        min-width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 110%;
        margin: 106px 0 0;
    }
}