.lead__subtitle {
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 30px;
line-height: 120%;
letter-spacing: 2px;
text-align: center;
color: #FFFFFF;
min-width: 640px;
min-height: 72px;
padding: 0;
margin: 32px 0 64px 0;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .lead__subtitle {
    margin-bottom: 56px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        min-width: 288px;
        min-height: 40px;
        margin: 16px 0 40px 0;
        font-size: 16px;
        line-height: 125%; 
    
    }
}