.cover__subtitle {
    padding: 0;
    margin-top: 429px;
    align-self: center;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    position: absolute;
    z-index: 2;
}

@media screen and (max-width: 1279px) and (min-width: 1024px){
    .cover__subtitle {
        margin: 379px auto 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .cover__subtitle {
        margin: 299px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
        margin: 119px auto 0;
    }
}